LOCATE COMP "clk" SITE "G2";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25000000.0 HZ;

LOCATE COMP "rst" SITE "R1";
IOBUF PORT "rst" IO_TYPE=LVCMOS33 PULLMODE=DOWN;

LOCATE COMP "led" SITE "B2";
IOBUF PORT "led" IO_TYPE=LVCMOS33 DRIVE=4;
